{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags wagtailmarkdown el_pagination_tags %}
{% block extra_css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css"
  integrity="sha256-etrwgFLGpqD4oNAFW08ZH9Bzif5ByXK2lXNHKy7LQGo=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css"
  integrity="sha256-3h45mwconzsKjTUULjY+EoEkoRhXcOIU4l5YAw2tSOU=" crossorigin="anonymous" />
{% endblock extra_css %}
{% block content %}
<section id="showcase">
  <div class="container hidden">
    <div id="slider-carousel" class="slider">
      <div data-jarallax data-speed="0.2" class="jarallax d-flex align-items-center"
        style="height:391px; cursor:pointer;">
        <div class="text-center">
          <div class="badge badge-pill badge-light text-wrap">Lorem</div>
          <h1 class="display-3 entry-title text-white">Heading One</h1>
        </div>
        <a href="https://source.unsplash.com/random/301x351/?dish" data-height="351" data-width="301">
          <img src="https://source.unsplash.com/random/1060x1253/?dish" alt="" class="img-fluid jarallax-img">
        </a>
      </div>
      <div data-jarallax data-speed="0.2" class="jarallax d-flex align-items-center"
        style="height:391px; cursor:pointer;">
        <div class="text-center">
          <div class="badge badge-pill badge-light text-wrap">Lorem</div>
          <h1 class="display-3 entry-title text-white">Heading Two </h1>
        </div>
        <a href="https://source.unsplash.com/random/302x352/?dish" data-height="352" data-width="302">
          <img src="https://source.unsplash.com/random/1061x1253/?dish" alt="" class="img-fluid jarallax-img">
        </a>
      </div>
      <div data-jarallax data-speed="0.2" class="jarallax d-flex align-items-center"
        style="height:391px; cursor:pointer;">
        <div class="text-center">
          <div class="badge badge-pill badge-light text-wrap">Lorem</div>
          <h1 class="display-3 entry-title text-white">Heading Three</h1>
        </div>
        <a href="https://source.unsplash.com/random/303x353/?dish" data-height="353" data-width="303">
          <img src="https://source.unsplash.com/random/1062x1253/?dish" alt="" class="img-fluid jarallax-img">
        </a>
      </div>
      <div data-jarallax data-speed="0.2" class="jarallax d-flex align-items-center"
        style="height:391px; cursor:pointer;">
        <div class="text-center">
          <div class="badge badge-pill badge-light text-wrap">Lorem</div>
          <h1 class="display-3 entry-title text-white">Heading Four</h1>
        </div>
        <a href="https://source.unsplash.com/random/304x354/?dish" data-height="354" data-width="304">
          <img src="https://source.unsplash.com/random/1063x1253/?dish" alt="" class="img-fluid jarallax-img">
        </a>
      </div>
      <div data-jarallax data-speed="0.2" class="jarallax d-flex align-items-center"
        style="height:391px; cursor:pointer;">
        <div class="text-center">
          <div class="badge badge-pill badge-light text-wrap">Lorem</div>
          <h1 class="display-3 entry-title text-white">Heading Five</h1>
        </div>
        <a href="https://source.unsplash.com/random/305x355/?dish" data-height="355" data-width="305">
          <img src="https://source.unsplash.com/random/1064x1253/?dish" alt="" class="img-fluid jarallax-img">
        </a>
      </div>
      <div data-jarallax data-speed="0.2" class="jarallax d-flex align-items-center"
        style="height:391px; cursor:pointer;">
        <div class="text-center">
          <div class="badge badge-pill badge-light text-wrap">Lorem</div>
          <h1 class="display-3 entry-title text-white">Heading Six</h1>
        </div>
        <a href="https://source.unsplash.com/random/306x356/?dish" data-height="356" data-width="306">
          <img src="https://source.unsplash.com/random/1065x1253/?dish" alt="" class="img-fluid jarallax-img">
        </a>
      </div>
    </div>
  </div>
</section>

<!-- BLOG -->
<section id="blog" class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        {% paginate 5 posts %}
        {% for post in posts %}
        <div class="card p-5">
          {% image post.header_image original as header_image %}
          <a href="{% pageurl post %}" class="btn btv-primary">
            <img src="{{ header_image.url }}" class="img-fluid card-img-top"></img>
          </a>
          <!-- <img src="https://source.unsplash.com/random/502x600/?dish" alt="" class="img-fluid card-ing-top"> -->
          <div class="card-body text-center">
            <h4 class="card-title">{{post.title}}</h4>
            <small class="text-muted">Posted on {{ post.date }}</small>
          </div>
          <div class="card-body">
            <p class="card-text">
              {% if post.excerpt %}
              {{ post.excerpt|markdown|safe }}
              {% else %}
              {{ post.body|richtext|safe|truncatewords_html:70 }}
              {% endif %}
            </p>
            <a href="{% pageurl post %}" class="btn btv-primary">Read More &rarr;</a>
          </div>
          {% endfor %}

          <ul class="pagination justify-content-center mb-4">
            {% show_pages %}
          </ul>
        </div>
      </div>
      <!-- SIDEBAR -->
      <!-- <div id="sidebar" class="col-md-4"></div> -->
      <div class="col-md-4">
        {% include 'blocks/sidebar.html' %}
      </div>
    </div>
  </div>
</section>

{% endblock content %}

{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js"
  integrity="sha256-zUQGihTEkA4nkrgfbbAM1f3pxvnWiznBND+TuJoUv3M=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/jarallax@1/dist/jarallax.js"></script>
<script>
  $('#slider-carousel').slick({
    infinite: true,
    slidesToShow: 3,
    slidesToScroll: 1,
    dots: true,
  });

  $(function () {
    $('#sidebar').load('static/components/sidebar.html');
  }); 
</script>
{% endblock %}