body {
    background-color: #f6efe5;
}

body,
input,
textarea,
select,
button {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.widget-title {
    margin-bottom : 20px;
    font-size     : 11px;
    letter-spacing: 2px;
    line-height   : 1.3;
    font-weight   : 400;
    text-transform: uppercase;
}

#home-heading {
    background       : url('../img/logo.jpg');
    background-repeat: no-repeat;
    background-position: center center; 

    -webkit-background-size: 100%;
    -moz-background-size   : 100%;
    -o-background-size     : 100%;
    background-size        : 100%;

    -webkit-background-size: cover;
    -moz-background-size   : cover;
    -o-background-size     : cover;
    background-size        : cover;

    margin-bottom: 0px;
    padding      : 0px;

    /* height: 230px; */
    height: 300px;
}

#home-heading .primary-overlay {
    position     : absolute;
    top          : 0;
    left         : 0;
    width        : 100%;
    height       : 100%;
    /* background: rgba(255, 255, 255, 0.2); */
}

.navbar {
    /* box-shadow: 5px 2px 5px #3292a6; */
    border-bottom       : #e3dcd3 1px solid;
    border-top          : #e3dcd3 1px solid;
    /* opacity          : 0.9; */
    display             : block;
    width               : 100%;
    margin-left         : auto;
    margin-right        : auto;
    background-color    : #f6efe5
        /* background   : #fff; */
        /* margin-top   : 240px;     */
}

.slick-prev:before,
.slick-next:before {
    color    : #000;
    font-size: 40px;
}

.slick-prev {
    left: -45px;
}

.about {
    background-color: #f6efe5;
    border          : 0em;
}

#sidebar {
    font-size: 12px;
}

#sidebar .sidebar-hr {
    /* background-color: #000; */
    width        : 15%;
    margin-left  : 0px;
    border-bottom: 4px #333333 solid;
}

#sidebar .badge {
    font-size: 100%;
}

/* .tag {
    font-size: 100%;
} */

.hidden {
    display: none;
}

.widget-title {
    font-family: 'Open Sans'
}

/* .jarallax {
    position: relative;
    z-index: 0;
}
.jarallax > .jarallax-img {
    position: absolute;
    object-fit: cover;
       font-family: 'object-fit: cover;';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
} */

h1,
.entry-title,
.footer-subscribe h3,
.widget_categories ul li,
.widget_recent_entries ul li a,
.widget_pages ul li,
.widget_nav_menu ul li,
.widget_archive ul li,
.widget_most_recommended_posts ul li a,
.widget_calendar table caption,
.tptn_title,
.nav-single a,
.widget_recent_comments ul li,
.widget_product_categories ul li,
.widget_meta ul li,
.widget_rss ul a.rsswidget {
    font-family: 'Unna'
}

h2,
h3,
h4,
h5,
h6,
blockquote,
.tab-titles {
    font-family: 'Open Sans'
}

.slider .entry-title {
    font-family: 'Sacramento';
    text-shadow: 2px 2px #000;
}

.link-box .entry-title {
    font-family: 'Sacramento'
}

@media screen and (min-width: 992px) {
    .site-header .site-title {
        font-size: 64px
    }
}

@media screen and (min-width: 992px) {
    .blog-regular .entry-title {
        font-size: 37px
    }
}

@media screen and (min-width: 992px) {
    .blog-small .entry-title {
        font-size: 27px
    }
}

@media screen and (min-width: 992px) {
    h1 {
        font-size: 44px
    }
}

@media screen and (min-width: 992px) {
    .sidebar {
        font-size: 12px
    }
}

.widget-title {
    font-size  : 13px;
    font-weight: 700;
}

@media screen and (min-width: 992px) {
    .nav-menu ul ul {
        font-size: 11px
    }
}

h1,
.entry-title,
.footer-subscribe h3 {
    font-weight: 400
}

@media screen and (min-width: 992px) {
    .site-header .site-title img {
        max-height: 230px
    }
}

@media screen and (max-width: 991px) {
    .site-title img {
        max-height: 160px
    }
}

@media screen and (min-width: 992px) {
    .site-branding {
        padding: 0px 0
    }
}

@media screen and (max-width: 991px) {
    .site-branding {
        padding: 0px 0
    }
}

.site-header .header-wrap {
    background-color: #f6efe5
}

.site-header .menu-wrap {
    background-color: #f6efe5
}


/* @media (max-width: 768px) {
     #home-heading {
         min-height: 500px
     }
 } */