[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pep8 = "*"
ptvsd = "*"

[packages]
wagtail = "~=2.9"
#coderedcms = ">=0.17"
#wagtail-markdown = ">=0.5"
wagtail-markdown = "*"
wagtail-metadata = ">=3.0.0"
psycopg2-binary = "*"
Django = "~=2.2"
ipython = "*"
django-weasyprint = "~=1.0"
wagtailfontawesome = "*"
django-el-pagination = "~=3.2"
django-compressor = "*"
wagtailmenus = "~=3.0"
wagtail-blocks = "~=0.7"
wagtailvideos = "~=2.8"
django-widget-tweaks = "~=1.4.8"
gunicorn = "~=20.0.4"
django-environ = "*"

[requires]
python_version = "3.8"
