<div>
  <div class="card about pb-4">
    <div class="card-body">
      <div class="card-title sidebar-item widget-title">SEARCH</div>
      <hr class="sidebar-hr">
      <form action="" class="form-search" role="search" method="get">
        <div class="input-group">
          <input type="text" class="form-control search-query" name="search" placeholder="Search" title="Search for:">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">
              <span class="fas fa-search"></span>   
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="card about">
    <div class="card-body">
      <div class="card-title sidebar-item widget-title">ABOUT ME</div>
      <hr class="sidebar-hr">
      <img src="img/person1.jpg" alt="" class="img-fluid rounded-circle w-50 mb-3">
      <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo delectus nisi magnam adipisci, corporis nam?</p>
      <div class="d-flex justify-content-center">
        <div class="p-4">
          <a href="http://facebook.com">
            <i class="fab fa-facebook text-dark"></i>
          </a>
        </div>
        <div class="p-4">
          <a href="http://twitter.com">
            <i class="fab fa-twitter text-dark"></i>
          </a>
        </div>
        <div class="p-4">
          <a href="http://instagram.com">
            <i class="fab fa-instagram text-dark"></i>
          </a>
        </div>
      </div>
    </div>
  </div>    
</div>

